{% extends 'base.html' %}


{% block nonfooter %}
<body>

    <div class="row justify-content-center align-items-center" style="height: 90vh;">
        <div class="col-4">
            <main class="form-signin">
                <form method="POST">
                    {% csrf_token %}
                    <h1 class="h3 mb-3 fw-normal">Şifre Değiştir</h1>

                    <div class="form-floating">
                        <input type="password" name="password_old" class="form-control" id="floatingPassword"
                            placeholder="Password">
                        <label for="floatingPassword">Eski Şifre</label>
                    </div>

                    <div class="form-floating">
                        <input type="password" name="password_new" class="form-control" id="floatingPassword" placeholder="Yeni Şifre">
                        <label for="floatingPassword">Yeni Şifre</label>
                    </div>
                    
                    <div class="form-floating">
                        <input type="password" name="password_renew" class="form-control" id="floatingPassword" placeholder="Tekrar Yeni Şifre">
                        <label for="floatingPassword">Tekrar Yeni Şifre</label>
                    </div>

             
                    <button class="w-100 btn btn-lg btn-primary" type="submit">Şifreyi Değiştir</button>
                    {% if hata %}
                    <div class="alert alert-danger" role="alert">
                        {{ hata }}
                    </div>
                    {% endif %}
                </form>
            </main>
        </div>
    </div>


{% endblock nonfooter %}